
        
            <p>Please click on the links to navigate through my site</p>
            <nav>
                
                <a href="https://webpages.charlotte.edu/ghowale/" target="_blank">Webpage</a> |
                <a href="https://www.freecodecamp.org/grishmahowale" target="_blank">Freecodecamp</a> |
                <a href="https://www.codecademy.com/profiles/grishmahowale" target="_blank">Codeacademy</a> |
                <a href="https://github.com/grishmahowale12/" target="_blank">Github</a> |
                <a href="https://grishmahowale12.github.io/" target="_blank">Github.io</a> |
                <a href="https://www.linkedin.com/in/grishma-howale-75a2b1274/" target="_blank">LinkedIn</a>

            </nav>
            <p>
                Pages built by 
                <a href = "ghboutique.com.html">Gh Boutique</a> &copy; 2024
                <a href = "https://www.freecodecamp.org/certification/grishmahowale/responsive-web-design">Certified in Responsive Web Design</a> 
            </p>



            <a id="validation-link-html" href="">
                <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="validation button image">
            </a>
            <a id="validation-link-css" href="">
                <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="validation button image">
            </a>